body {
  background: #000;
  color: #fff;
  padding: 25px;
  font-family: sans-serif;
}

#Who,
#The_Team,
#The_Team_Photos,
#What_Have_They_Made,
#Horrificus,
#Game_Desc,
#Game_Cover,
#The_Story,
#Gato_Exploso,
#Game_Desc2,
#Game_Cover2,
#The_Story2,
#How_Do_They_Do_It,
#Mobs_and_Bosses,
#Mobs_and_Bosses2,
#PWRUPs_and_Weapons,
#PWRUPs_and_Weapons2,
#Horrificus_Download,
#Download,
#Controls,
#Controls2,
#Download2,
#How_to_Play2,
#Team {
  font-weight:900;
}
