body {
  background: #000;
  color: #fff;
  padding: 25px;
  font-family: sans-serif;
}

#Who {
  font-weight:900;
}

#The_Team {
  font-weight:900;
}

#The_Team_Photos {
  font-weight: 900;
}

#What_Have_They_Made {
  font-weight: 900;
}

#Horrificus {
  font-weight:900;
}

#Game_Desc {
  font-weight:900;
}

#Game_Cover1 {
  font-weight:900;
}

#The_Story {
  font-weight:900;
}

#Gato_Exploso {
  font-weight:900;
}

#Game_Desc2 {
  font-weight:900;
}

#Game_Cover2 {
  font-weight:900;
}

#The_Story2 {
  font-weight:900;
}

#How_Do_They_Do_It {
  font-weight:900;
}

#Mobs_and_Bosses {
  font-weight:900;
}

#Mobs_and_Bosses2 {
  font-weight:900;
}
